//  cards ////////////////////////////////

.card {
  border: 0;
   -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
  transition: all .3s ease-in-out;
  position: relative;
  will-change:transform; 
  overflow:hidden;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: $primary;
    transition: 0.2s;
  }
  
  &:hover {
   
    &:after {
      width: 100%;
    }
    
  }
  & .card-header {
    background-color: white;
     border-bottom: 0px;
  }
  & .card-title {
    margin-bottom: 1rem;
  }
  & .card-block {
    padding-top: 0;
  }
  & .list-group-item {
    border: 0px;
    padding: .25rem;

  }
}

/*.card{
    border: 0 !important;
  //  box-shadow: 0 20px 20px rgba(0,0,0,.08);
    box-shadow:   rgba(0, 0, 0, 0.2) 0px 1.5em 85px 0px;
    white-space: normal;
    color: #4B4F56;
	  margin-bottom: $margin-base-vertical *1.5;
    overflow:hidden;
}
	.card.animated{
    border: 0 !important;
 
    white-space: normal;
    -webkit-transition: all 300ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 300ms cubic-bezier(.02, .01, .47, 1);
    transition: all 300ms cubic-bezier(.02, .01, .47, 1);
    color: #4B4F56;
	  margin-bottom: $margin-base-vertical *1.5;
		&.card:hover {
			box-shadow: 0 40px 40px rgba(0,0,0,.16);
			transform: translate(0,-20px);
			transition-delay: 0s !important;
		}
}*/


 
.card-columns .card:hover {
    box-shadow: 0 40px 40px rgba(0,0,0,.16);
    transform: translate(0,0);
    transition-delay: 0s !important;
}
.card.card-block{
	 box-shadow: $mdl-shadow--4dp !important;	
	 margin-bottom: $margin-base-vertical *1.5;
}
.card.card-block:hover{
	box-shadow: $mdl-shadow--16dp !important;
}
.card-title {
	margin-top: $margin-base-vertical *2;
    margin-bottom: $margin-base-vertical *1.5;
}
.card-footer {
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-footer>small {
   text-transform: uppercase;
}
.card .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.card .list-group-item:first-child {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}
.no-gutters .card,
.no-gutters .card-deck .card,
.no-gutters .card-deck .card .card-img-top{
	border-radius:0;
}