
// Material design shadows helpers  ////////////////////////////////

//imported from assets/scss/mdl-shadows.SCSS
.m-shadow-2{
  box-shadow: $mdl-shadow--2dp;
}
.m-shadow-3{
  box-shadow: $mdl-shadow--3dp;
}
.m-shadow-4{
  box-shadow: $mdl-shadow--4dp;
}
.m-shadow-6{
  box-shadow: $mdl-shadow--6dp;
}
.m-shadow-8{
  box-shadow: $mdl-shadow--8dp;
}
.m-shadow-16 {
  box-shadow: $mdl-shadow--16dp;
}
.m-shadow-32 {
 box-shadow: $mdl-shadow--32dp;
}